PATH_add .local/bin.edge
use rbenv
export XDG_CACHE_HOME="$(pwd)/.cache"
export VAGRANT_HOME="$(pwd)/.local/var/vagrant.home"
export VAGRANT_DOTFILE_PATH="$(pwd)/.local/var/vagrant.dot"
export VAGRANT_DISABLE_VBOXSYMLINKCREATE=1
export XERR_TCP=127.0.0.1:5000
source .local/etc/rc.env
