/.local/
/dev_exec/config::packer
/dev_exec/state::vagrant:status
/dev_exec/state::vagrant:up
/dev_exec/meta:sanction
/dev_exec/local::cargo:install
/dev_exec/std::to_json
/dev_exec/sudo:install
/dev_exec/::alloc
/dev_exec/pkt:rustup.install
/dev_exec/config::cargo.toml.json?cache
/dev_exec/packer:build.pkr.json
/dev_exec/vagrant:config
/dev_exec/::read2
/dev_exec/vagrant:
/dev_exec/vbox:clear
/dev_exec/meta:unsanction
/dev_exec/state::vagrant:export
/dev_exec/::alloc:paths
/dev_exec/config::cargo.toml.json
/dev_exec/meta:decom
/dev_exec/packer:
/dev_exec/config::vagrant:enabled
/dev_exec/vagrant:ssh
/dev_exec/packer:config
/dev_exec/config::vagrant:Vagrantfile.rb
/dev_exec/::read
/dev_exec/vagrant:Vagrantfile.rb
/dev_exec/git:push
