(
    source: (
        vagrant: {
            "alpine-base": (
                box_os: "alpine", // get from vagrant
                box_name: "gvz/alpine.base",
            ),
            "ubuntu-base": (
                box_os: "ubuntu",
                box_name: "gvz/ubuntu.base",
            ),
            "alpine-rustup": (
                source_path: "${var.LocalVagrantArtifacts}/gvz/alpine.base",
                box_name: "gvz/alpine.rustup",
            ),
        },
        null: {
            "alpine": ( source_vm: "vm.alpine" ), // default
            "alpine-0": ( source_vm: "vm.alpine0" ),
            "alpine-1": ( source_vm: "vm.alpine2" ),
            "alpine-2": ( source_vm: "vm.alpine3" ),
            "alpine-3": ( source_vm: "vm.alpine4" ),
            "alpine-4": ( source_vm: "vm.alpine5" ),
            "arch": (),
            "arch-0": ( source_vm: "vm.arch" ),
            "arch-1": ( source_vm: "vm.arch" ),
            "arch-2": ( source_vm: "vm.arch3" ),
            "ubuntu": (),
            "ubuntu-0": ( source_vm: "vm.ubuntu0" ),
            "ubuntu-1": ( source_vm: "vm.ubuntu0" ),
            "ubuntu-2": ( source_vm: "vm.ubuntu" ),
        }
    ),
    recipe:
        {
            "boot_build.alpine": [
                "boot_build.alpine",
            ]
        },
)
